.contenedor {
    width: 90%;
    max-width: 1900px;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);

    .hr {
        grid-column: span 3;
    }
    header {
        grid-column-start: 1;
        grid-column-end: -1;
        
    }
    img {
        width: 180px;
    }
    .precio {
        text-align: right;
    }
}

header, .total {
    width: 90%;
    max-width: 1900px;
    margin: 20px auto;
    span{
        text-align: right;
    }
    h3{
        text-align: right;
    }
    div {
        text-align: right;
    }
}


