<div class="container">
    <h2>Actualizar productos</h2>
    <form (ngSubmit)="f.valid && editarDatos()" #f="ngForm">
      <div>
        <label for="codigo">Codigo</label>
        <input type="text" id="codigo" name="codigo" [(ngModel)]="producto.codigo" required>
      </div><br>
      <div>
        <label for="tipo">Tipo</label>
        <input type="text" id="tipo" name="tipo" [(ngModel)]="producto.tipo" required>
      </div><br>
      <div>
        <label for="color">Color</label>
        <input type="text" id="color" name="color" [(ngModel)]="producto.color" required>
      </div><br>
      <div>
        <label for="marca">Marca</label>
        <input type="text" id="marca" name="marca" [(ngModel)]="producto.marca" required>
      </div><br>
      <div>
        <label for="precio">Precio</label>
        <input type="text" id="precio" name="precio" [(ngModel)]="producto.precio" required>
      </div><br>
      <div *ngIf="!previsualizacion">
          <img width="250px" [src]="imagenApi" alt="op">
      </div><br>
      <div>
        <label for="imagen">*</label>
        <input type="file" id="imagen" (change)="capturarFile($event)" required>
      </div><br>
      <!-- ========== Preview Imagen ========== -->
      <div *ngIf="previsualizacion" class="d-flex">
        <img width="250px" [src]="previsualizacion" alt="imagen">
      </div><br>
      <!-- ========== End Section ========== -->
        <button class="btn btn-success" [disabled]="!f.valid">Actualizar</button>
    </form><br>
    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
      <button type="button" class="btn btn-warning" (click)="reset()">Reset</button>
      <button type="button" class="btn btn-danger" (click)="delete()">Eliminar</button>
    </div>
  </div><br>
  
  <div class="container">
    <p>
      *Tamaño máximo de carga 1MB
    </p>
  </div>
  
  
