<div class="container">
  <form class="example-form" #f="ngForm"><br>
    <h2>Actualizacion de productos</h2>
    <table class="example-full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Codigo</mat-label>
            <input name="codigo" matInput [(ngModel)]="producto.codigo" required>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Tipo</mat-label>
            <input matInput name="tipo" matInput [(ngModel)]="producto.tipo" required>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Color</mat-label>
            <input matInput name="color" matInput [(ngModel)]="producto.color" required>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Marca</mat-label>
            <input matInput name="marca" matInput [(ngModel)]="producto.marca" required>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Precio</mat-label>
            <input matInput name="precio" matInput [(ngModel)]="producto.precio" required>
          </mat-form-field>
        </td>
      </tr>
    </table>
     <!-- ========== Preview Imagen ========== -->
     <div *ngIf="!previsualizacion">
      <img width="292px" [src]="imagenApi" alt="Selecciona una imagen">
    </div><br>
    <div *ngIf="previsualizacion" class="d-flex">
      <img width="292px" [src]="previsualizacion" alt="imagen">
    </div><br>
    <!-- ========== End Section ========== -->
    <div>
      <label for="imagen">*</label>
      <input type="file" id="imagen" (change)="capturarFile($event)" required>
    </div><br>
  </form>

  <section>
    <div class="example-button-row">
      <button mat-raised-button color="accent" (click)="reset()">Reset</button>
    </div>
  </section>
  <section>
    <div class="example-button-row">
      <button mat-raised-button color="primary" [disabled]="!f.valid || producto.imagen == null" (click)="editarDatos()">Actualizar</button>
      <button mat-raised-button color="warn" (click)="delete()">Eliminar</button>
    </div>
  </section>
</div><br><br>

<div class="container">
  <p>
    *Tamaño máximo de carga 1MB
  </p>
</div>
