<div class="container">
  <form class="example-form" (ngSubmit)=" f.valid && guardarDatos()" #f="ngForm"><br>
    <h2>Registrar productos</h2>
    <table class="example-full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Codigo</mat-label>
            <input name="codigo" matInput [(ngModel)]="codigo" required>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Tipo</mat-label>
            <input matInput name="tipo" matInput [(ngModel)]="tipo" required>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Color</mat-label>
            <input matInput name="color" matInput [(ngModel)]="color" required>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Marca</mat-label>
            <input matInput name="marca" matInput [(ngModel)]="marca" required>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Precio</mat-label>
            <input matInput name="precio" matInput [(ngModel)]="precio" required>
          </mat-form-field>
        </td>
      </tr>
    </table>
     <!-- ========== Preview Imagen ========== -->
    <div *ngIf="previsualizacion" class="d-flex">
      <img width="292px" [src]="previsualizacion" alt="imagen">
    </div><br>
    <!-- ========== End Section ========== -->
    <div>
      <label for="imagen">*</label>
      <input type="file" id="imagen" (change)="capturarFile($event)" required>
    </div><br>
    <section>
      <div class="example-button-row">
        <button mat-raised-button color="primary">Guardar</button>
      </div>
    </section>
  </form>

</div><br><br>
<div class="container">
  <p>
    *Tamaño máximo de carga 1MB
  </p>
</div>