  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4" *ngFor="let producto of productos">
      <div class="card">
        <div class="image">
            <img [src]="producto.imagen"
              [alt]="producto.tipo"
              
              class="card-img-top"
            >
        </div>
        <div class="card-inner">
          <div class="header">
              <h2>{{ producto.marca | slice: 0:15}}</h2>
            <h4 class="text-muted">{{ producto.tipo }}</h4>
            <small class="text-muted">{{ producto.precio + ' Gs.'}}</small>
          </div>
        </div>
      </div>
    </div>
    <div
      class="col-xs-12 col-sm-12 col-md-12 mt-5 container-notFound"
      *ngIf="productos.length <= 0"
    >
      <p>No results.......</p>
    </div>
  </div>

  